html {
    font-size: 1em;    
}

.header {
    background-color: palevioletred;
    text-align: center;    
    padding: 10px;
    width: 100%;
}

.main { /*contains content elements*/
    background-color: yellow;
    width: 80%;    
    margin: auto;        
    display: flex;
    justify-content: space-evenly;
}

.content-box {
    background-color: turquoise;     
    width: 25em;
    min-height: 10em;  
    padding: 5px;  
    margin: 10px;            
        
}
.centerwrapper {
    margin: auto;    
    background-color: red;
}

.wrap { /*creates sticky footer*/
    min-height: calc(100vh - 89px);
  }
.footer {
    background-color: lightblue;
    width: 100%;
    text-align: center;    
    padding: 10px;
}

/*Media Queries*/
@media (max-width: 769px) {

    .main {
        flex-direction: column;
        align-items: center;
    }
    .content-box {
        width: 15em;
    }
    }
